
.all2{
    display: flex;
    flex-direction: row;
}
/* Esquerda */
.esquerda1{
    display: flex;
    flex-direction: column !important;
    align-items: center;

}
.texto1{   
    margin-top: 20px;
    
}
.imagem-trilha
{
    width: 57%;
    
}
/* Direita */
.direita1{
    width: 65%;
}
.text2{
    background-color: none;
    display: flex;
    justify-content: center;
    margin-right: 300px;
}
.text2 button{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    
}
.conhecer{
    border: 5px solid greenyellow;
    padding: 10px;
    border-radius: 100px;
}
.conhecer:hover svg{
    margin-left: 25px;
}
.conhecer svg{
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.imagem2{
    height: 750px;
    width: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem2 img {
    transform: rotate(5deg);
    z-index: 2;
    width: 770px;
    height: 770px;
}

