/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px greenyellow;
  background: linear-gradient(to bottom left, greenyellow, rgba(4, 8, 224, 0.788));
  transition: transform 0.3s ease;
  color: white;

}

.cards:hover {
  transform: translateY(-5px);
}

.cards img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: inherit;
}

.card-text {
  font-size: 1rem;
  color: white;
  text-align: justify;
  display: flex;
  
}
.card-all{
  display: flex;
  justify-content: center;
}
