.navbar{
    display: flex;
    flex-direction: column;
    height: 140px;
    transition: 0.3s ease-in-out; /* Adicionei essa propriedade para criar uma transição suave quando a navbar é scrollada */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 18px 0px;
    background-color: black;
    z-index: 9999; /* Add this to ensure the navbar is on top of other elements */
  }


  .esquerda-nav{
    width: 40%;
    height: 100%;
    padding-right: 160px;
    display: flex;
    justify-content: center;
  }
  .esquerda-nav div img {
    display: none; /* Esconda a logo inicialmente */
  }
  .scrolled .esquerda-nav div img {
    display: block; /* Mostra a logo quando scrolado 50px */
  }
  .direita-nav{
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .esquerda-nav div {
    width: 115px;
    height: 100px;
  }
  .links{
    width: 440px;
    display: flex;
    justify-content: space-around;
  }
  .links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.724);
    font-size: larger;
  }
  .links a:hover{
    color: white;
    transition: 0.25s ease-in-out;
  }
  .social{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    align-items: center;
    padding-inline: 30px !important;
    padding: 0px 0px 3px;
    width: 200px;
    height: 50px;
  }
  .social a{
    width: 42px;
      height: 42px;
      background: black;
      display: inline-flex;
      border-radius: 50%;
      margin-right: 6px;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .social a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;  /* Efeito circular de dentro para fora dos icones das redes sociais*/
  /*  */
}
    .social a:hover::before {
        transform: scale(1);
    }
    .social a img {
        width: 40%;
        z-index: 1;
        transition: 0.3s ease-in-out;
    }
    .social a:hover img {
        filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
    }
.search button{
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 18px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
}
.search span{
    z-index: 1;
}
.search button::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.search button:hover{
    color: #121212;
}
.search button:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}